body {
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 99%;
  width: 90%;
  position: absolute;
  left: 0;
  top: 0;
  border: solid
}

.right {
  position: absolute;
  left: 91%;
}

.right ul {
  padding-left: 0;
  list-style: none;
}

#actions {
  top: 150px;
}
